section.list-section#department-list-section
    form#department-list-form.block-list-header(
    data-role='search-form',action='/api/department.json',method='get')
        labl=l.lbl.department
        input(type='search', name='search_word').float-right
        input(type='hidden', name='client_id', value=selected_client._id)
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#department_list.block-list

    a.add-btn.wide-btn#department-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}