section#client-detail-section
    form#client-detail-form(method='post', action='/api/client/save').posotioned
        input(type='hidden', name='_id', value=selected_client._id)
        h1
            input(type='text', data-role='editable-text', name='name', value=selected_client.name)

    .paper#client-detail-paper
        .paper-content
            h4(data-name='name')
            br
            for product in products
                input(
                    type="checkbox",
                    id="product-#{product._id}",
                    value=product._id)
                label(
                    for="product-#{product._id}"
                    )=product.name

