section#client-detail-section
    form#client-detail-form(method='post', action='/api/client/save').posotioned
        input(type='hidden', name='_id', value=selected_client._id)
        h1
            input(type='text', data-role='editable-text', name='name', value=selected_client.name)

    .paper#client-detail-paper
        form#client-product-form(method='post', action='/api/department/save').posotioned
            input(type='hidden', name='_id', value)
            .paper-content
                h4(data-name='name')
                br
                for product in products
                    label(for="product-#{product._id}")
                        input(
                        name='product_ids',
                        type="checkbox",
                        id="product-#{product._id}",
                        value=product._id)
                        span=product.name

