section#client-detail-section.positioned
    a.float-right#edit-btn(href='javascript:void(0)')
        i.icon.icon-pencil
        sapn=l.btn.edit
    br.clear
    #save-done-msg.stick-left.stick-top
        .msg-balloon
            span=l.msg.save_done
    form#client-detail-form(method='post', action='/api/client/save'
    )
        #client-detail-form-cover.cover
        .posotioned.paper
            .paper-content

                input(type='hidden', name='_id', value=selected_client._id)
                h1
                    input(type='text', data-role='editable-text', name='name', value=selected_client.name).full-width.large-input


                div.half.float-left
                    table.wide-table
                        tbody

                div.half.float-right
                    fieldset#salesman-fieldset
                        legend=l.lbl.salesman
                        for salesman in salesmen
                            label.checkable-label(for="salesman-#{salesman._id}")
                                input(
                                name='salesman_ids',
                                type="checkbox",
                                checked=selected_client.salesman_ids.match(salesman._id)
                                id="salesman-#{salesman._id}",
                                value=salesman._id)
                                span=salesman.name

                br.clear

                h3=l.lbl.systems
                dl#system-list
                    dt
                    input(type='text', data-role='editable-text', name='system.name').full-width.large-input
                    dd

                br.clear
                input#save-btn.btn.wide-btn(type="submit", value=l.btn.save)


