mixin system(index, data)
    li.paper.system-list-item(id=data.name)
        .paper-content
            h3=index
            input(type='hidden', name='systems[#{index}].index', value=data.index)
            table.full-width
                caption
                    a.btn.remove-btn(href='javascript:void(0)',data-role='remove-btn') &times;
                    input(type='text',
                    data-role='editable-text',
                    placeholder=l.plh.system_name,
                    value=data.name,
                    name='systems[#{index}].name').system-name-input

                thead
                tbody
                tr
                    th
                        label=l.lbl.code
                    td
                        input(type='text', data-role='editable-text',name='systems[#{index}].code', value=data.code).system-code-input

                tr
                    th
                        label=l.lbl.start_at
                    td
                        input(type='text', data-role='editable-text',name='systems[#{index}].start_at', value=data.start_at).system-start_at-input

                tr
                    th
                        label=l.lbl.scale
                    td
                        input(type='text', data-role='editable-text',name='systems[#{index}].scale',
                        min=0,
                        value=data.scale).system-scale-input
                        small
                            i=l.lbl.scale_unit
                tr
                    th
                        label=l.lbl.current_provider
                    td.developer-select-td
                        select(name='systems[#{index}].current_provider')
                            option(value='')
                            for developer in developers
                                option(value=developer._id,
                                selected=developer._id==data.current_provider
                                )=developer.name
                        input(type='text', name='systems[#{index}].current_provider_name',
                            data-role='editable-text',
                            value=data.current_provider_name)
                        a(href='javascript:void(0)').developer-input-switch
                            i.icon.icon-edit

                tr
                    th
                        label=l.lbl.initial_provider
                    td.developer-select-td
                        select(name='systems[#{index}].initial_provider')
                            option(value='')
                            for developer in developers
                                option(value=developer._id,
                                selected=developer._id==data.initial_provider
                                )=developer.name
                        input(type='text', name='systems[#{index}].initial_provider_name',
                            data-role='editable-text',
                            value=data.initial_provider_name)
                        a(href='javascript:void(0)').developer-input-switch
                            i.icon.icon-edit




                tr
                    th
                        label=l.lbl.freeword
                    td
                        textarea.full-width(name='systems[#{index}].freeword',
                        data-role='editable-text',
                        placeholder=l.plh.freeword)=data.freeword
            br.clear

h1#client-name-spy
    a(href='#')
section#client-detail-section.positioned(
    data-system_names=system_names,
    data-system_scales=system_scales,
    data-system_codes=system_codes,
    data-system_start_ats=system_start_ats
)
    a.float-right#edit-btn(href='javascript:void(0)')
        i.icon.icon-pencil
        sapn=l.btn.edit
    br.clear
    #save-done-msg.stick-left.stick-top
        .msg-balloon
            span=l.msg.save_done
    form#client-detail-form(method='post', action='/api/client/save'
    )
        #client-detail-form-cover.cover
        .posotioned


            input(type='hidden', name='_id', value=selected_client._id)
            input(type='hidden', name='parent_id', value=selected_client.parent_id)

            h1
                div.client-parent-name
                    if selected_client.parent_names
                        for parent_name in selected_client.parent_names
                            span.name-label=parent_name
                input#client-name-input(type='text', data-role='editable-text', name='name', value=selected_client.name).full-width.large-input




            fieldset#salesman-fieldset
                legend=l.lbl.salesman
                for salesman in salesmen
                    label.checkable-label(for="salesman-#{salesman._id}")
                        input(
                        name='salesman_ids',
                        type="checkbox",
                        checked=selected_client.salesman_ids.match(salesman._id)
                        id="salesman-#{salesman._id}",
                        value=salesman._id)
                        span=salesman.name
            br.clear

            fieldset
                legend=l.lbl.systems

                ul#system-list.no-style-list
                    if selected_client.systems
                        for system in selected_client.systems
                            if system
                                +system(system.index, system)

                div#system-list-item-tmpl.hidden
                    +system('',"c")
                br.clear
                a#new-system-btn.add-btn.wide-btn(
                href='javascript:void(0)') + #{l.btn.new} #{l.lbl.system}

                br.clear
            input(type='hidden', name='last_update_by', value=login_username)
            input(type='hidden', name='last_update_at', value=time)
            br.clear
            input#save-btn.btn.primary-btn.wide-btn(type="submit", value=l.btn.save)
            small.float-right
                span
                    | #{l.lbl.last_update_by}&nbsp;

                span=selected_client.last_update_by
                if selected_client.last_update_at_label
                    span
                        |&nbsp;
                    span=selected_client.last_update_at_label


