section#client-detail-section.paper
    form#client-detail-form(method='post', action='/api/client/save'
    ).posotioned.paper-content
        input(type='hidden', name='_id', value=selected_client._id)
        h1
            input(type='text', data-role='editable-text', name='name', value=selected_client.name)


        fieldset#product-fieldset
            legend=l.lbl.products
            for product in products
                label(for="product-#{product._id}")
                    input(
                    name='product_ids',
                    type="checkbox",
                    id="product-#{product._id}",
                    value=product._id)
                    span=product.name

