section.list-section#salesman-list-section
    form#salesman-list-form.positioned.block-list-header(
    data-role='search-form',action=url('/api/salesman.json'),method='get')
        label.float-left.block-list-title=l.lbl.salesman
        input(type='search', name='search_word', results).float-right
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#salesman_list.block-list(data-model="Salesman")


    a.add-btn.wide-btn#salesman-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}