nav
    a.nav-item(href=url('/chart?t=#{time}'), key='list')
        i.icon.icon-th
        | list

    a.nav-item(href=url('/excel/download'), target="_blank")
        i.icon.icon-download
        | download
    a.nav-item(href=url('/master'), key='master')
        i.icon.icon-wrench
        | master



    a.nav-item(href=url('/salesman'), key='salesman')=l.lbl.salesman
