extends layout

block stylesheets
    link(rel='stylesheet', href=url.css('/lib/jquery.treeview.css'))
    link(rel='stylesheet', href=url.css('/index.css'))

block javascripts
    script(src=url.js('/lib/jquery.treeview.js'))
    script(src=url.js('/p.index.js'))

block content

    aside.float-right.positioned
        include client/_list

    article.inline-article
        h1#large-logo=l.app.name
        p.description=l.app.description