extends layout

block stylesheets
    link(rel='stylesheet', href=url.css('/index.css'))

block javascripts
    script(src=url.js('/p.index.js'))

block content

    aside.float-right
        section#login-section
            form#login-form(action='/login',
            method='post',
                class=login_err?'err-form':''
            autocomplete='off')
                if login_err
                    div.err-msg
                        h5=l.err.login_fail
                .field
                    label.block-label(for='username-input')=l.lbl.username
                    input(type='text', name='username', data-list=username_list, required)#username-input
                .field
                    label.block-label(for='password-input')=l.lbl.passowrd
                    input(type='password', name='password', disabled, value='sellit')#password-input
            div#login-btn-field
                input(type='submit', value=l.lbl.login).btn.wide-btn#login-btn

    article.inline-article
        h1#large-logo(data-ref=url('/'))=l.app.name
        p.description=l.app.description

