extends layout

block stylesheets
    link(rel='stylesheet', href=url.css('/index.css'))

block javascripts
    script(src=url.js('/p.index.js'))

block content

    aside.float-right
        section#login-sectiion
            form#login-form(action='/login', method='post',autocomplete='off')

                div
                    label.block-label(for='username-input')=l.lbl.username
                    input(type='text', name='username' required)#username-input
                div
                    label.block-label(for='password-input')=l.lbl.passowrd
                    input(type='password', name='password')#password-input
            div
                input(type='submit', value=l.lbl.login).btn.wide-btn#login-btn

                ul#username-select-list.no-style-list.select-list(style='display:none')
                    for salesman in salesmen
                        li
                            a(href='javascript:void(0)')=salesman.name


    article.inline-article
        h1#large-logo=l.app.name
        p.description=l.app.description

