doctype 5
html
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width")
        title=l.app.name

        link(rel='shortcut icon', href=url('/fav.ico'))
        link(rel="apple-touch-icon", href=url('/touch.ico'))
        link(rel='stylesheet', href=url.css("base.css"))

        block stylesheets

        //if lt IE 9
            script(src=url.js('/lib/modernizr.js'))

        if NODE_ENV == 'production'
            script(src=url.js('lib.min.js'))
        else
            script(src=url.js('lib/tek.js'))
            script(src=url.js('lib/jquery.js'))
            script(src=url.js('lib/jquery-ui.custom.js'))
            script(src=url.js('lib/spin.js'))
            script(src=url.js('lib/handlebars.runtime.min.js'))
            script(src=url.js('lib/tek.view.js'))
            script(src=url.js('lib/one-color.js'))

        script.
            window.l = !{JSON.stringify(l)};
            window.ctx = "#{context}";
        script(src=url.js('templates.js'))
        script(src=url.js('p.js'))

        block javascripts

        block head


    body
        header
            include _nav
            h2.logo.float-left
                a(href=url('/'))
                    | #{l.app.name}
            include _client_select


        article#main
            block content

            br.clear
            a#to-page-top-btn.float-right(href='#')=l.btn.to_page_top
        br.clear

        footer