section.list-section#developer-list-section
    form#developer-list-form.positioned.block-list-header(
    data-role='search-form',action=url('/api/developer.json'),method='get')
        label.title=l.lbl.developer
        input(type='search', name='search_word', results).float-right
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#developer_list.block-list


    a.add-btn.wide-btn#developer-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}