section.list-section#product-list-section

    form#product-list-form.block-list-header(
    data-role='search-form',action='/api/product.json',method='get')
        label.title=l.lbl.products
        input(type='search', name='search_word').float-right
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
        br.clear
    ul#product_list.block-list(data-model="Product")

    a.add-btn.wide-btn#product-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}