fieldset#chart-control-fieldset
    legend=l.lbl.control
    form#chart-control-form
        .field#use-colorize-field
            label.field-label=l.lbl.color_effect
            input#use-colorize-input-on(type='radio', name='use_colorize', value='true')
            label(for='use-colorize-input-on')=l.lbl.on
            input#use-colorize-input-off(type='radio', name='use_colorize', value='false', checked)
            label(for='use-colorize-input-off')=l.lbl.off

        .field#use-scalize-field
            label.field-label=l.lbl.scale_effect
            input#use-scalize-input-on(type='radio', name='use_scalize', value='true')
            label(for='use-scalize-input-on')=l.lbl.on
            input#use-scalize-input-off(type='radio', name='use_scalize', value='false', checked)
            label(for='use-scalize-input-off')=l.lbl.off

        .field#use-system-filter-field
            label.field-label=l.lbl.system_filter
            input#use-system-filter-input-on(type='radio', name='use_system_filter', value='true')
            label(for='use-system-filter-input-on')=l.lbl.on
            input#use-system-filter-input-off(type='radio', name='use_system_filter', value='false', checked)
            label(for='use-system-filter-input-off')=l.lbl.off

        #system-filter-div.filter-div
            p#system-filter-p.filter-p(style='display:none')
                - for(var i=0;i<headRow.length;i++){
                    input(type='checkbox', name='system_index', value=i, checked, id="system_index-input-#{i}")
                    label(for="system_index-input-#{i}")=headRow[i]
                - }

        .field#use-client-filter-field
            label.field-label=l.lbl.client_filter
            input#use-client-filter-input-on(type='radio', name='use_client_filter', value='true')
            label(for='use-client-filter-input-on')=l.lbl.on
            input#use-client-filter-input-off(type='radio', name='use_client_filter', value='false', checked)
            label(for='use-client-filter-input-off')=l.lbl.off

        #client-filter-div.filter-div
            p#client-filter-p.filter-p(style='display:none')
                each row, i in rows
                    input(type='checkbox', name='filter_client_id', value=row[0].client_id, checked, id="filter_client_id-input-#{i}")
                    label(data-parent=row[0].data.parent, for="filter_client_id-input-#{i}")=row[0].text