.float-right#chart-list-tabs
    a#code-filter.tab(href='javascript:void(0)')=l.lbl.code
    a#current_provider-filter.tab(href='javascript:void(0)',
    data-colorbase='#DA7845',
    data-colortype='rainbow')=l.lbl.current_provider
    a#initial_provider-filter.tab(href='javascript:void(0)',
    data-colorbase='#DA7845',
    data-colortype='rainbow')=l.lbl.initial_provider
    a#scale-filter.tab(href='javascript:void(0)'
    data-scalemin='1',
    data-scalemax='4'
    )=l.lbl.scale
    a#freeword-filter.tab(href='javascript:void(0)')=l.lbl.freeword
    a#start_at-filter.tab(href='javascript:void(0)')=l.lbl.start_at
    a#all-filter.tab(href='javascript:void(0)',data-key='')=l.lbl.all