extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('lib/jquery.spreadsheet.css'))
    link(rel='stylesheet', href=url.css('chart.css'))


block javascripts
    script(src=url.js('lib/jquery.spreadsheet.js'))
    script(src=url.js('p.chart.js'))
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);

block header-content
    .float-left

block content
    #chart-group-nav-container(data-groups=groupHierarchy)
    br
    if rows.length
        .margin-box
            include _chart_control_fieldset
            include _chart_list_tabs

        section#chart-list-section(
        data-headrow=headRow,
        data-rows=rows)

    if !rows.length
        h1.text-center.not-found-msg
            i=l.msg.no_clients
            br
            br
            br
