extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/chart.css')

block javascripts
    script(src='/javascripts/p.chart.js')

block content

    h1=l.lbl.chart_table

    table#chart-list-table.stripe-table
        thead
            tr
                th=l.lbl.client_name
                th=l.lbl.rank
                th=l.lbl.industry
                th=l.lbl.products

        tbody
            for row in rows
                tr
                    for data in row
                        td=data

