extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('chart.css'))
    link(rel='stylesheet', href=url.css('lib/jquery.spreadsheet.css'))


block javascripts
    script(src=url.js('lib/jquery.spreadsheet.js'))
    script(src=url.js('p.chart.js'))
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);
block content
    div.margin-box
        h1=l.lbl.chart_title
        fieldset#chart-control-fieldset
            legend=l.lbl.control
            form#chart-control-form
                .field
                    label.field-label=l.lbl.colorize
                    input#colorize-input-on(type='radio', name='colorize', value='true')
                    label(for='colorize-input-on')=l.lbl.on
                    input#colorize-input-off(type='radio', name='colorize', value='false', checked)
                    label(for='colorize-input-off')=l.lbl.off

                .field
                    label.field-label=l.lbl.filter
                    input#filter-input-on(type='radio', name='filter', value='true')
                    label(for='filter-input-on')=l.lbl.on
                    input#filter-input-off(type='radio', name='filter', value='false', checked)
                    label(for='filter-input-off')=l.lbl.off

                table#filter-detail-table
                    tbody
                        tr
                            th=l.lbl.system_name
                            td
                                p#system-name-filter
                                    for row in headRow
                                        label
                                            input(type='checkbox', name='system_name')
                                            | #{row}

                        tr
                            th=l.lbl.client_name
                            td
                                p#client-filter
                                    - for(var rownum=0;rownum<rows.length;rownum++) {
                                        label
                                            input(type='checkbox', name='client_name')
                                            | #{rows[rownum][0].text}
                                    - }



        .float-right#chart-list-tabs
            a#provider-filter.tab(href='javascript:void(0)',
            data-colorbase='#DA7811',
            data-colortype='rainbow'
            )=l.lbl.provider
            a#scale-filter.tab(href='javascript:void(0)')=l.lbl.scale
            a#freeword-filter.tab(href='javascript:void(0)')=l.lbl.freeword
            a#all-filter.tab(href='javascript:void(0)',data-key='')=l.lbl.all
    section#chart-list-section(
    data-headrow=headRow,
    data-rows=rows)