extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('chart.css'))
    link(rel='stylesheet', href=url.css('lib/jquery.spreadsheet.css'))


block javascripts
    script(src=url.js('lib/jquery.spreadsheet.js'))
    script(src=url.js('p.chart.js'))
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);
block content
    div.float-right#chart-list-tabs
        a.tab(href='javascript:void(0)',data-key='provider')=l.lbl.provider
        a.tab(href='javascript:void(0)',data-key='freeword')=l.lbl.freeword
        a.tab(href='javascript:void(0)',data-key='scale')=l.lbl.scale
        a.tab(href='javascript:void(0)',data-key='')=l.lbl.all

    section#chart-list-section(
    data-headrow=headRow,
    data-rows=rows)