mixin ie_scripts()
    //if lt IE 7
        script(src=url.js('/lib/ie/IE7.js'))
    //if lt IE 8
        script(src=url.js('/lib/ie/IE8.js'))
    //if lt IE 9
        script(src=url.js('/lib/ie/IE9.js'))
        script(src=url.js('/lib/ie/selectivizr-min.js'))
        script(src=url.js('/lib/ie/excanvas.js'))
    //if lt IE 10
        script(src=url.js('/lib/ie/html5shiv.js'))
        script(src=url.js('/lib/ie/css3-mediaqueries.js'))

