<a class="block-link chart-cell-content" href="{{ctx}}/client/{{client_id}}?mode=edit#{{name}}"
        target="_blank">

    <label class='chart-cell-label' data-value="{{code}}" for="code-filter">{{code}}</label>
    <label class='chart-cell-label' data-value="{{initial_provider}}"
           data-text="{{initial_provider_name}}"
           for="initial_provider-filter">{{initial_provider_name}}</label>
    <label class='chart-cell-label' data-value="{{current_provider}}"
           data-text="{{current_provider_name}}"
           for="current_provider-filter">{{current_provider_name}}</label>
    <label class='chart-cell-label' data-value="{{scale}}" for="scale-filter">{{scale}}</label>
    <label class='chart-cell-label pre' data-value="{{freeword}}" for="freeword-filter">{{freeword}}</label>
    <label class='chart-cell-label' data-value="{{start_at}}" for="start_at-filter">{{start_at}}</label>

    <div class="chart-cell-color-mark"></div>
    <div class="chart-cell-color-mark-hover"></div>
</a>