<span class='th-content' data-client_id="{{client_id}}" data-system="{{data_system}}"
      data-parent="{{data_parent}}">
    {{#if prefix}}<small class="small-prefix">{{prefix}}</small>{{/if}}
    <a href="{{href}}" target="_blank">{{text}}</a>
</span>
