<div class="chart-cell-content">
    <label class='chart-cell-label' data-value="{{provider}}" for="provider-filter">{{provider_name}}</label>
    <label class='chart-cell-label' data-value="{{code}}" for="code-filter">{{code}}</label>
    <label class='chart-cell-label' data-value="{{scale}}" for="scale-filter">{{scale}}</label>
    <label class='chart-cell-label' data-value="{{freeword}}" for="freeword-filter">{{freeword}}</label>
    <div class="chart-cell-color-mark"></div>
</div>