<div>
    <label class='block-label' data-value="{{code}}" for="code-filter">{{code}}</label>
    <label class='block-label' data-value="{{scale}}" for="scale-filter">{{scale}}</label>
    <label class='block-label' data-value="{{provider}}" for="provider-filter">{{provider_name}}</label>
    <label class='freeword' data-value="{{freeword}}" for="freeword-filter">{{freeword}}</label>
</div>