<div class="inline-div" id="client-li-content-{{_id}}">
    {{#if group}}
        <form class="inline-form" action="{{ctx}}/api/client/save"
              method="post" name="edit-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <input type="hidden" value="{{_vr}}" name="_vr"/>
            <input type="hidden" value="{{parent_id}}" name="parent_id"/>
            <input type="hidden" value="{{children_ids}}" name="children_ids"/>
            <input type="text" data-role="editable-text" name="name" value="{{name}}"/>
        </form>
    {{else}}
        <a class="detail-link stick-right stick-top"
           data-role="detail-link" href="{{ctx}}/client/{{_id}}?t={{t}}">
            <i class="icon icon-chevron-right"></i>
        </a>

        <form class="inline-form" action="{{ctx}}/api/client/save"
              method="post" name="edit-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <input type="hidden" value="{{_vr}}" name="_vr"/>
            <input type="hidden" value="{{parent_id}}" name="parent_id"/>
            <input type="text" data-role="editable-text" name="name" value="{{name}}"/>
        </form>
    {{/if}}
    <div class="stick-right stick-top block-list-item-control">
        <a href="javascript:void(0)" data-role='edit-btn'>
            <i class="icon icon-pencil"></i>
        </a>

        <form class="inline-form" action="{{ctx}}/api/client/destroy"
              method="post" name="destroy-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <a href="javascript:void(0)" data-role='submit-btn'>
                <i class="icon icon-trash"></i>
            </a>
        </form>
    </div>
</div>
