<li class="department-list-item positioned">
    <form class="inline-form" action="/api/department/save"
          method="post" name="edit-form">
        <input type="hidden" value="{{client_id}}" name="client_id"/>
        <input type="hidden" value="{{_id}}" name="_id"/>
        <input type="text" data-role="editable-text"
               placeholder="{{l 'plh.department_name'}}"
               name="name" value="{{name}}"/>
    </form>
    <div class="stick-right stick-top block-list-item-control">
        <a href="javascript:void(0)" data-role='edit-btn'>
            <i class="icon icon-pencil"></i>
        </a>

        <form class="inline-form" action="/api/department/destroy"
              method="post" name="destroy-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <a href="javascript:void(0)" data-role='submit-btn'>
                <i class="icon icon-trash"></i>
            </a>
        </form>
    </div>
</li>