<li class="product-list-item positioned">
    <a class="cover detail-link" data-role="detail-link" href="/product/?_id={{_id}}"></a>
    <form class="inline-form" action="/api/product/save"
          method="post" name="edit-form">
        <input type="hidden" value="{{_id}}" name="_id"/>
        <input type="text" data-role="editable-text" name="name" value="{{name}}"/>
        <input type="hidden" value="{{sort_num}}" name="sort_num"/>
    </form>
    <div class="stick-right stick-top block-list-item-control">
        <a href="javascript:void(0)" data-role='edit-btn'>
            <i class="icon icon-pencil"></i>
        </a>

        <form class="inline-form" action="/api/product/destroy"
              method="post" name="destroy-form">
            <input type="hidden" value="{{_id}}" name="_id"/>
            <a href="javascript:void(0)" data-role='submit-btn'>
                <i class="icon icon-trash"></i>
            </a>
        </form>
    </div>
</li>